sigularity/* linguist-vendored
engine/include/glm/* linguist-vendored=false
#engine/init/glm/0.9.8.4
*.html linguist-language=Assembly
*.cpp linguist-language=Assembly
*.hpp linguist-language=Assembly
*.h linguist-language=Assembly
*.css linguist-language=Assembly
#*.hpp linguist-language=Assembly
*.lfs* filter=lfs diff=lfs merge=lfs -text
