<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>41</string>
	<key>CFBundleShortVersionString</key>
	<string>14.0.16</string>
	<key>CFBundleVersion</key>
	<string>14.0.16</string>
	<key>ProjectName</key>
	<string>OpenGL</string>
	<key>SourceVersion</key>
	<string>14000016000000</string>
</dict>
</plist>
